# Switch active RPC profile for testing: public | private
NEXT_PUBLIC_RPC_MODE=public
NEXT_PUBLIC_GAS_BUFFER_PERCENT=30
NEXT_PUBLIC_DEFAULT_TEST_AMOUNT=0.000001
NEXT_PUBLIC_FEE_PRICE_BUFFER_ENABLED=false
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

NEXT_PUBLIC_FLARE_RPC_PUBLIC_URL=https://flare-api.flare.network/ext/C/rpc
NEXT_PUBLIC_FLARE_RPC_PRIVATE_URL=http://10.10.10.102:9560/ext/C/rpc
NEXT_PUBLIC_FLARE_WRAPPED_TOKEN_ADDRESS=0x1D80c49BbBCd1C0911346656B529DF9E5c2F783d
NEXT_PUBLIC_BUGO_FLARE_TOKEN_ADDRESS=0x6c1490729ce19E809Cf9F7e3e223c0490833DE02

NEXT_PUBLIC_FLARE_TESTNET_RPC_PUBLIC_URL=https://coston2-api.flare.network/ext/C/rpc
NEXT_PUBLIC_FLARE_TESTNET_RPC_PRIVATE_URL=http://127.0.0.2:9560/ext/C/rpc
NEXT_PUBLIC_FLARE_TESTNET_WRAPPED_TOKEN_ADDRESS=0xC67DCE33D7A8efA5FfEB961899C73fe01bCe9273

NEXT_PUBLIC_SONGBIRD_RPC_PUBLIC_URL=https://songbird-api.flare.network/ext/C/rpc
NEXT_PUBLIC_SONGBIRD_RPC_PRIVATE_URL=http://10.10.10.103:9560/ext/C/rpc
NEXT_PUBLIC_SONGBIRD_WRAPPED_TOKEN_ADDRESS=0x02f0826ef6aD107Cfc861152B32B52fD11BaB9ED

NEXT_PUBLIC_SONGBIRD_TESTNET_RPC_PUBLIC_URL=https://coston-api.flare.network/ext/C/rpc
NEXT_PUBLIC_SONGBIRD_TESTNET_RPC_PRIVATE_URL=http://127.0.0.3:9560/ext/C/rpc
NEXT_PUBLIC_SONGBIRD_TESTNET_WRAPPED_TOKEN_ADDRESS=0x767b25A658E8FC8ab6eBbd52043495dB61b4ea91
