# Switch active RPC profile for testing: public | private
NEXT_PUBLIC_RPC_MODE=public
NEXT_PUBLIC_GAS_BUFFER_PERCENT=30

NEXT_PUBLIC_FLARE_RPC_PUBLIC_URL=https://flare-api.flare.network/ext/C/rpc
NEXT_PUBLIC_FLARE_RPC_PRIVATE_URL=http://10.10.10.102:9560/ext/C/rpc
